<?xml version="1.0" encoding="utf-8"?>
<interface_setup>
    <interface name="websocket">
        <configuration name ="DEVICE_$dvar(definition_alias_mediaplayer_template)">
            <setting name="Port" parameter="9090"/>
            <setting name="Host" parameter="discover"/>
            <setting name="Password" parameter="admin"/>
            <setting name="User" parameter="admin"/>
            <setting name="TimeToClose" parameter="-1"/>
            <setting name="FNCodeset" parameter="CODESET_websocket_KODI-Leia.xml"/>
            <setting name="DiscoverScriptName" parameter="discover_upnp"/>
            <setting name="DISCOVER_UPNP_manufacturer" parameter="XBMC Foundation"/>
            <setting name="DISCOVER_UPNP_models" parameter="['Kodi']"/>
        </configuration>
    </interface>
    <interface name="wake_on_lan">
        <configuration name ="DEVICE_$dvar(definition_alias_mediaplayer_template)">
            <setting name="IP" parameter="192.168.1.255"/>
            <setting name="MAC" parameter="aa:bb:cc:dd:ee:ff"/>
        </configuration>
    </interface>
</interface_setup>
