<?xml version="1.0" encoding="utf-8"?>
<interface_setup>
    <interface name="jointspace_url">
        <configuration name ="DEVICE_$dvar(definition_alias_mediaplayer_template)">
            <setting name="Port" parameter="1925"/>
            <setting name="Host" parameter="192.168.1.2"/>
            <setting name="User" parameter="root"/>
            <setting name="Password" parameter=""/>
            <setting name="ParseResult" parameter="dict"/>
            <setting name="TokenizeString" parameter=":"/>
            <setting name="authorization" parameter="no"/>
            <setting name="TimeToClose" parameter="10"/>
            <setting name="FNCodeset" parameter="CODESET_url_JOINTSPACE.xml"/>
            <setting name="DisableInterFaceOnError" parameter="0"/>
            <setting name="DisconnectInterFaceOnSleep" parameter="1"/>
        </configuration>
    </interface>
    <interface name="cec_rpi">
        <configuration name ="DEVICE_$dvar(definition_alias_mediaplayer_template)_mediaplayer_template">
            <setting name="Port" parameter="23"/>
            <setting name="Host" parameter="raspbmc"/>
            <setting name="Password" parameter="raspberry"/>
            <setting name="User" parameter="pi"/>
            <setting name="ParseResult" parameter="no"/>
            <setting name="TokenizeString" parameter=":"/>
            <setting name="ResultEndString" parameter="[LF]"/>
            <setting name="TimeToClose" parameter="-1"/>
            <setting name="FNCodeset" parameter="CODESET_cec_rpi_telnet.xml"/>
            <setting name="DisableInterFaceOnError" parameter="0"/>
            <setting name="DisconnectInterFaceOnSleep" parameter="1"/>
            <setting name="Source_DeviceType" parameter="Recording"/>
            <setting name="Source_DeviceID" parameter="00000"/>
            <setting name="Destination_DeviceType" parameter="TV"/>
            <setting name="TerminalType" parameter=""/>
        </configuration>
    </interface>
</interface_setup>
